{
  "gitlab_workhorse": {
    "secret_token": "{{gitlab_workhorse_secret_token}}"
  },
  "gitlab_shell": {
    "secret_token": "{{gitlab_shell_secret_token}}"
  },
  "gitlab_rails": {
    "secret_key_base": "{{gitlab_rails_secret_key_base}}",
    "db_key_base": "{{gitlab_rails_db_key_base}}",
    "otp_key_base": "{{gitlab_rails_otp_key_base}}"
  },
  "registry": {
    "http_secret": "{{registry_http_secret}}",
    "internal_certificate": "{{registry_internal_certificate}}",
    "internal_key": "{{registry_internal_key}}"
  },
  "mattermost": {
    "email_invite_salt": "{{mattermost_email_invite_salt}}",
    "file_public_link_salt": "{{mattermost_file_public_link_salt}}",
    "email_password_reset_salt": "{{mattermost_email_password_reset_salt}}",
    "sql_at_rest_encrypt_key": "{{mattermost_sql_at_rest_encrypt_key}}"
  }
}
